@model IEnumerable<Book>
@{
    ViewData["Title"] = "List_Book";
    Layout = "~/Views/Shared/_LibraryLayout.cshtml";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>
      <th scope="col">Publisher Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var i in Model)
        {
         <tr>
          <th scope="row">@i.Book_id</th>
          <td>@i.Book_name</td>
          <td>@i.Book_author</td>
          <td>@i.Book_publisher</td>
          <td>@i.Book_subject</td>
          <td><a href="~/Library/Edit_Book/@i.Book_id" class = "btn btn-warning">Edit</a></td>
          <td><a href="~/Library/Delete_Book/@i.Book_id" class="btn btn-danger">Delete</a></td>
        </tr> 
        }
       
  </tbody>
</table>


